class imbalance >> lone class has higher %
upsampling , downsampling, somte2

In [1]:
import numpy as np 
import pandas as pd
np.random.seed(1)# for reproductibility

In [2]:
no_sample = 1000
class_0_ratio = 0.9
no_class_0 = int(no_sample * class_0_ratio)
no_class_1 = 100

In [3]:
class_0_ratio

0.9

In [4]:
no_class_0

900

In [5]:
no_class_1

100

In [6]:
len(np.random.normal(0,1,no_class_0))

900

In [7]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
class_0 = {'feature1': np.random.normal(0,1,no_class_0),
'feature2': np.random.normal(0,1,no_class_0),
'target' : [0]*no_class_0}

In [9]:
class_0 = pd.DataFrame(class_0)

In [10]:
class_0

     feature1  feature2  target
0   -0.446699 -1.307971       0
1    0.204377  1.472396       0
2    0.612233  0.074876       0
3    0.744885 -1.786935       0
4   -0.036281  0.165211       0
..        ...       ...     ...
895  0.833679 -1.322762       0
896  2.160456  0.540306       0
897  1.998992 -0.507257       0
898  0.764041  1.128379       0
899  1.687255 -1.223351       0

[900 rows x 3 columns]

In [11]:
class_1 = pd.DataFrame({'feature1': np.random.normal(3,1,no_class_1),
           'feature2': np.random.normal(3,1,no_class_1),
           'target' : [1]*no_class_1})

In [12]:
class_1

    feature1  feature2  target
0   2.546497  2.965789       1
1   2.179095  2.718501       1
2   3.940219  3.580178       1
3   1.588707  2.136473       1
4   3.884148  3.326813       1
..       ...       ...     ...
95  1.402786  2.274796       1
96  3.461016  2.861925       1
97  4.316506  3.250043       1
98  3.296370  3.353116       1
99  3.000008  2.499023       1

[100 rows x 3 columns]

In [13]:
df = pd.concat([class_0 , class_1]).reset_index(drop = True)

In [14]:
df

     feature1  feature2  target
0   -0.446699 -1.307971       0
1    0.204377  1.472396       0
2    0.612233  0.074876       0
3    0.744885 -1.786935       0
4   -0.036281  0.165211       0
..        ...       ...     ...
995  1.402786  2.274796       1
996  3.461016  2.861925       1
997  4.316506  3.250043       1
998  3.296370  3.353116       1
999  3.000008  2.499023       1

[1000 rows x 3 columns]

In [15]:
df.target.value_counts(normalize = True)

target
0    0.9
1    0.1
Name: proportion, dtype: float64

In [16]:
df_minority = df[df.target == 1]
df_majority = df[df.target == 0]

In [17]:
df_minority

     feature1  feature2  target
900  2.546497  2.965789       1
901  2.179095  2.718501       1
902  3.940219  3.580178       1
903  1.588707  2.136473       1
904  3.884148  3.326813       1
..        ...       ...     ...
995  1.402786  2.274796       1
996  3.461016  2.861925       1
997  4.316506  3.250043       1
998  3.296370  3.353116       1
999  3.000008  2.499023       1

[100 rows x 3 columns]

In [18]:
df_majority

     feature1  feature2  target
0   -0.446699 -1.307971       0
1    0.204377  1.472396       0
2    0.612233  0.074876       0
3    0.744885 -1.786935       0
4   -0.036281  0.165211       0
..        ...       ...     ...
895  0.833679 -1.322762       0
896  2.160456  0.540306       0
897  1.998992 -0.507257       0
898  0.764041  1.128379       0
899  1.687255 -1.223351       0

[900 rows x 3 columns]

In [19]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python311\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\python311\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\python311\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\python311\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python311\lib\site-packages (from scikit-learn) (3.4.0)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: C:\PYTHON311\python.exe -m pip install --upgrade pip

In [20]:
from sklearn.utils import resample

In [21]:
#downsampling
df_minority

     feature1  feature2  target
900  2.546497  2.965789       1
901  2.179095  2.718501       1
902  3.940219  3.580178       1
903  1.588707  2.136473       1
904  3.884148  3.326813       1
..        ...       ...     ...
995  1.402786  2.274796       1
996  3.461016  2.861925       1
997  4.316506  3.250043       1
998  3.296370  3.353116       1
999  3.000008  2.499023       1

[100 rows x 3 columns]

In [22]:
df_majority

     feature1  feature2  target
0   -0.446699 -1.307971       0
1    0.204377  1.472396       0
2    0.612233  0.074876       0
3    0.744885 -1.786935       0
4   -0.036281  0.165211       0
..        ...       ...     ...
895  0.833679 -1.322762       0
896  2.160456  0.540306       0
897  1.998992 -0.507257       0
898  0.764041  1.128379       0
899  1.687255 -1.223351       0

[900 rows x 3 columns]

#smote >> synthic minority oversampling technique

In [24]:
from sklearn.datasets import make_classification

In [26]:
X , y = make_classification(n_samples = 1000 , n_redundant = 0 , n_features = 2 , n_clusters_per_class = 1 , weights = [0.90] , random_state = 1 )

In [27]:
X

array([[ 1.53682958, -1.39869399],
       [ 1.55110839,  1.81032905],
       [ 1.29361936,  1.01094607],
       ...,
       [-0.55662536, -0.15983725],
       [ 1.00499902,  0.93628981],
       [ 1.46210987,  1.14497791]])

In [28]:
y

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [29]:
len(y[y==0])

894

In [30]:
len(y[y==1])

106

In [ ]:
df1 = pd.DataFrame(X, columns = ['f1','f2'])
df2 = pd.DataFrame(y, columns = ['target'])
df_final =

In [ ]:
df_final.target.value(normalize = True)

In [ ]:
import matplotlib.pyplot as plt 
plt.scatter(df_final['f1'] , df_final['f2'],c = df['target'])